@model Neshagostar.DAL.DataModel.StorageRelated.ProductsRelated.ImportedProduct

<link href="~/Content/jquery-ui.css" rel="stylesheet">
<script src="~/Scripts/jquery-ui.js"></script>




@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ImportedProduct</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ProductId, "ProductId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProductId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AmountImported, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmountImported, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AmountImported, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*<div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>*@
            <div class="col-md-offset-2 col-md-10">
                <button type="button" id="btn_submit" class="btn btn-default">ویرایش</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script>
    $("#btn_submit").click(popUpJustify);


    function popUpJustify() {
        var parentDiv = $('<div id="divPopupProducts" style="display:none;margin-top:5%;background:white;"></div>');

        var formGroupReason = $('<div class="col-sm-12 form-group"></div>');
        var labelReason = $('<label class="control-label col-md-3" for="Reason">دلیل عملیات</label>');
        formGroupReason.append(labelReason);

        var divReason = $('<div class="col-md-12"></div>');
        var inputReason = $('<textarea  style="width:80%"  class="form-control" data-val="true" data-val-required="لطفا دلیل را وارد فرمائید" id="reason" name="Reason" type="text" value=""></textarea>');
        var validationReason = $('<span class="field-validation-valid text-danger" data-valmsg-for="Reason" data-valmsg-replace="true"></span>');
        divReason.append(inputReason);
        divReason.append(validationReason);
        formGroupReason.append(divReason);

        var formGroupComments = $('<div class="col-sm-12 form-group"></div>');
        var labelComments = $('<label class="control-label col-md-3" for="Comments">توضیحات</label>');
        formGroupComments.append(labelComments);

        var divComments = $('<div class="col-md-12"></div>');
        var inputComments = $('<textarea style="width:80%" class="form-control" cols="30"  rows="2  data-val="true" data-val-required="لطفا دلیل را وارد فرمائید" id="comments" name="Comments" type="text" value=""></textarea>');
        var validationComments = $('<span class="field-validation-valid text-danger" data-valmsg-for="Comments" data-valmsg-replace="true"></span>');
        divComments.append(inputComments);
        divComments.append(validationComments);
        formGroupComments.append(divComments);



        parentDiv.append(formGroupReason);
        parentDiv.append(formGroupComments);

        parentDiv.dialog({
            height: 430,
            width: 800,
            modal: true,
            buttons: {
                "OK": function () {
                    $.ajax({
                        url: "/personnelmanagement/justifies/create",
                        data: { reason: $("#reason").val(), comments : $("#comments").val(), action:"Edit", Entity:"ImportedProduct" },
                        type: "POST",
                        async: false,
                        dataType: "json",
                        content: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.value) {
                                //alert(data.value);
                                $("form").submit();
                            }
                        }

                    })
                    $(this).dialog("close");
                    //alert("You selected OK!!")
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        

    }
</script>