@model IEnumerable<Neshagostar.DAL.DataModel.StorageRelated.ProductsRelated.ImportedProduct>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/jquery-ui.css" rel="stylesheet">
<script src="~/Scripts/jquery-ui.js"></script>


<h2>لیست کالاهای ورودی</h2>

<p>
    @Html.ActionLink("ثبت", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DropDownList("ImportDate", ViewBag.Dates as IEnumerable<SelectListItem>, "تمام تواریخ", new { @class = "form-control", style = "width:100%;text-align:center", id = "filter_importDate" })
                @*@Html.TextBox("a", null, new { @class = "form-control", style = "width:70%", placeholder = "جستجوی نام", id = "filter_name", onchange = "getTableValues();", onkeyup = "getTableValues();" })*@
            </th>
            <th style="text-align:center">
                @Html.Hidden("productId", null, new { id = "productId" })
                @Html.TextBox("a", null, new { @class = "form-control", style = "width:100%;text-align:center;margin-right:10px;font-size:11px;", placeholder = "جستجوی محصول", id = "filter_product", onclick = "popUpProducts();" })
                @*@Html.DropDownList("Date", new List<SelectListItem>(), "تمام محصولات", new { @class = "form-control", style = "width:90%;text-align:center;margin-right:30px;font-size:14px;", id = "filter_product" })*@
                @* @Html.TextBox("a", null, new { @class = "form-control", style = "width:80%;text-align:center;margin-right:30px;font-size:14px;", placeholder = "جستجوی محصول", id = "filter_product", onchange = "getTableValues();", onkeyup = "getTableValues();" })*@
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th style="width:7%">
                <select style="width:100%;text-align:center;font-size:11px;" class="form-control" id="filter_isAllocatedCompleted">
                    <option value="">همه</option>
                    <option value="true">بله</option>
                    <option value="false">خیر</option>
                </select>
            </th>
            <th></th>
            <th></th>
            <th style="width:7%">
                <select style="width:100%;text-align:center;font-size:11px;" class="form-control" id="filter_isSentCompleted">
                    <option value="">همه</option>
                    <option value="true">بله</option>
                    <option value="false">خیر</option>
                </select>
            </th>
        </tr>

    </thead>
    <tr>
        <th  style="text-align:center">
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th style="text-align:center;width:300px">
            @Html.DisplayNameFor(model => model.Product.Title)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.AmountImported)
        </th>

        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.AmountAllocated)
        </th>

        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.AmountUnAllocated)
        </th>

        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.IsAllocatedCompletely)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.AmountSent)
        </th>

        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.AmountUnSent)
        </th>

        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.IsSentCompletely)
        </th>

        <th></th>
        <th></th>
    </tr>
    <tbody id="inquiries_tbody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td style="text-align:center;font-size:14px;">
                    @Html.DisplayFor(modelItem => item.Product.Title)
                </td>

                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.AmountImported)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.AmountAllocated)
                </td>

                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.AmountUnAllocated)
                </td>

                @{
                    if (item.IsAllocatedCompletely)
                    {
                        <td style="color:green;text-align:center;">
                            بله
                        </td>
                    }
                    else
                    {
                        <td style="color:red;text-align:center;">
                            خیر
                        </td>
                    }
                }
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.AmountSent)
                </td>

                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.AmountUnSent)
                </td>


                @{
                    if (item.IsSentCompletely)
                    {
                        <td style="color:green;text-align:center;">
                            بله
                        </td>
                    }
                    else
                    {
                        <td style="color:red;text-align:center;">
                            خیر
                        </td>
                    }
                }
                <td style="font-size:9px;">
                    |@Html.ActionLink("ویرایش", "Edit", new { id = item.Id })
                    @Html.ActionLink("حذف", "Delete", new { id = item.Id })
                </td>
                <td style="font-size:12px;">
                    @Html.ActionLink("تخصیص", "Allocate", new { area = "Storage", controller = "AllocatedProducts", importedProductId = item.Id })

                </td>
            </tr>
        }
        </tbody>
</table>
<div class="row" style="margin-top:10px;margin-right:110px;">
    <div id="div_pagination" class="col-sm-11 text-center">
        <ul class="pagination" id="pagination_page">
            <li id="previous_page">
                <a role="button" onclick="getTableValues(1)"><<</a>
                @*@Html.ActionLink(i.ToString(), "FilterRecievedCalls", new { controller = "RecievedCalls", area = "CallManagement", page = i, CategoryName = (string)ViewBag.Term, pageSize = (int)ViewBag.PageSize, role="button" })*@
            </li>
            <li id="first_page">
                <a role="button" onclick="getTableValues(1)"><</a>
                @*@Html.ActionLink(i.ToString(), "FilterRecievedCalls", new { controller = "RecievedCalls", area = "CallManagement", page = i, CategoryName = (string)ViewBag.Term, pageSize = (int)ViewBag.PageSize, role="button" })*@
            </li>
            @if (ViewBag.PageNumber > 1)
            {
                <li>
                    <a role="button" onclick="getTableValues(@(ViewBag.Page + 1))">></a>
                    @*@Html.ActionLink(i.ToString(), "FilterRecievedCalls", new { controller = "RecievedCalls", area = "CallManagement", page = i, CategoryName = (string)ViewBag.Term, pageSize = (int)ViewBag.PageSize, role="button" })*@
                </li>
                <li>
                    <a role="button" onclick="getTableValues(@ViewBag.PageNumber)">>></a>
                    @*@Html.ActionLink(i.ToString(), "FilterRecievedCalls", new { controller = "RecievedCalls", area = "CallManagement", page = i, CategoryName = (string)ViewBag.Term, pageSize = (int)ViewBag.PageSize, role="button" })*@
                </li>
            }
            else
            {
                <li>
                    <a role="button" onclick="getTableValues(1)">></a>
                    @*@Html.ActionLink(i.ToString(), "FilterRecievedCalls", new { controller = "RecievedCalls", area = "CallManagement", page = i, CategoryName = (string)ViewBag.Term, pageSize = (int)ViewBag.PageSize, role="button" })*@
                </li>
                <li>
                    <a role="button" onclick="getTableValues(1)">>></a>
                    @*@Html.ActionLink(i.ToString(), "FilterRecievedCalls", new { controller = "RecievedCalls", area = "CallManagement", page = i, CategoryName = (string)ViewBag.Term, pageSize = (int)ViewBag.PageSize, role="button" })*@
                </li>
            }

        </ul>
    </div>
    </div>

    <script>
        $("#filter_isAllocatedCompleted").change(function () {
            getTableValues();
        });

        $("#filter_isSentCompleted").change(function () {
            getTableValues();
        });

        var products = "";

        function getProductsJson() {
            return $.ajax({
                type: "GET",
                url: "/commerce/products/getProducts"
            });
        };

        var productsPromise = getProductsJson();

        productsPromise.success(function (data) {
            products = data;
            //alert(data[0].id)
        });

        var parentProductsDialog;

        function popUpProducts() {
            //alert("popup ");

            var parentDiv = $('<div id="divPopupProducts" style="display:none"></div>').addClass("table-responsive");
            //alert();
            var table = $("<table></table>").addClass("table table-hover");
            var headers = $("<tr></tr>");
            headers.append(
                `<th>نام محصول</th>
         <th>نوع</th>
        `);

            headers.appendTo(table);
            var tableDatas = $("<tr></tr>");
            var allProductsRow = $("<tr></tr>");
            $(`<td style="font-family:B Nazanin" onclick="showProduct('${""}','${""}')">${'همه محصولات'}</td>`).appendTo(allProductsRow);
            $(`<td style="font-family:B Nazanin" onclick="showProduct('${""}','${""}')">${'همه محصولات'}</td>`).appendTo(allProductsRow);
            table.append(allProductsRow)

            for (var productNum = 0; productNum < products.length; productNum++) {
                $(`<td style="font-family:B Nazanin" onclick="showProduct('${products[productNum].id}','${products[productNum].name}')">${products[productNum].name}</td>`).appendTo(tableDatas);
                $(`<td style="font-family:B Nazanin" onclick="showProduct('${products[productNum].id}','${products[productNum].name}')">${products[productNum].category}</td>`).appendTo(tableDatas);
                tableDatas.appendTo(table);
                tableDatas = $("<tr></tr>");
            }
            tableDatas.appendTo(table);
            table.appendTo(parentDiv);
            parentProductsDialog = true;


            parentDiv.dialog({
                height: 400,
                width: 500,
                modal: true,
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                        //alert("You selected OK!!")
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            })
            parentProductsDialog = parentDiv;
        }

        function showProduct(id, name) {

            //alert(id + "   "  +  name);
            $("#productId").val(id);
            $("#filter_product").val(name);

            parentProductsDialog.dialog("close");
            getTableValues();
        }


        var option = $('<option id = "option_previousDates" value="previousDates" >تاریخ عقب تر</option>');
        $("#filter_importDate").append(option);

        $("#filter_importDate").change(function () {
            var id = $(this).find("option:selected").attr("id");
            //alert("dddd");

            switch (id) {
                case "option_previousDates":
                    // do something here
                    popUpDateSelection("orderdate"); orderdate
                    break;
                default:
                    getTableValues();
                    break;
            }
        });

       function popUpDateSelection(callingName) {
           alert(callingName);
        //alert(amount);
        var formGroup = $('<div style="margin-right:100px;" class="form-group"></div>');
        var year = ""
        year = "@PersianDateTime.Now.Year";

        //var label = $('<label style="margin-top:8px;margin-right:80px" for="' + orderItemId + "_" + amount + '">متراژ ابلاغی را وارد کنید</label>');
        //var divInside = $('<div class="col-md-4"></div>');

        var span1 = $(`<span>
            <label for="" style="font-size:40px;padding-top:6px;float:right;">/</label>
        </span>`);

        var span2 = $(`<span>
            <label for="" style="font-size:40px;padding-top:6px;float:right;">/</label>
        </span>`);

        var selectDay = $("<select id='selectDay'  class='col-md-2 form-control' id='day' name='Day' style='width: 25 %; text - align: center; float: center'  onchange='setDay(this.value);' placeholder='روز'  ></select>");
        $(`<option style="font-size:10px;" value='${""}'>${"روز"}</option>`).appendTo(selectDay);
        for (var i = 1; i < 32; i++) {
            $(`<option class='col-md-2' style="width:25%;text-align:center;float:center;font-size:10px;"  onchange="setDay(this.value);" placeholder="روز" value='${i}'>${i}</option>`).appendTo(selectDay);
        }

        var selectMonth = $("<select  class='col-md-2 form-control' dir='rtl' id='month' name='Month' id='selectMonth' style='width:25%;text-align:center;'  onchange='setMonth(this.value);' placeholder='ماه'></select>");
        $(`<option style="font-size:10px;" value='${""}'>${"ماه"}</option>`).appendTo(selectMonth);
        for (var i = 1; i < 13; i++) {
            $(`<option class='col-md-2' style='font-size:10px;' value='${i}'>${i}</option>`).appendTo(selectMonth);
        }

        selectYear = $(`<input class="col-md-2 form-control" dir="rtl" id="year" name="Year" style="width:40%;text-align:center" onchange="setYear(this.value);" type="text" placeholder="سال">`);

        var divInput = $('<div class="col-md-9" style="margin-top:30px;"></div>');
        divInput.append(selectDay);
        divInput.append(span1);
        divInput.append(selectMonth);
        divInput.append(span2);
        divInput.append(selectYear);

        formGroup.append(divInput);


        var parentDiv = $('<div id="divPopUpDateSelection" style="display:none"></div>');
        parentDiv.append(formGroup);

        var d = $(".ui-dialog-buttonset").remove();
        //alert(d.children.name);
        //alert(d);

        parentDiv.dialog({
            height: 250,
            width: 550,
            modal: true,
            open: function () {
                //$("#divPopUpDateSelection").remove();

                $("#year").val(year).change();
            },
            buttons: {
                "انتخاب": function () {
                    //dispatchToProduction(orderItemId, amount);
                    // alert("ok is chosen")
                    var day = dayInput;
                    var month = monthInput;
                    var year = yearInput;

                    date = year + "/" + month + "/" + day;


                    var optionDate = $('<option style="color:orange" id = "option_' + date + '" value="' + date + '" >' + date + '</option>');

                    if (callingName == "orderdate") {
                        var length = $('#filter_importDate > option').length;
                        $('#filter_importDate > option').eq(length - 1).before(optionDate);
                    }
                    else {
                        var length = $('#filter_importDate > option').length;
                        $('#filter_importDate > option').eq(length - 1).before(optionDate);
                    }



                    //$("#dates").append(optionDate);
                    //alert(optionDate);
                    $(this).dialog("close");
                    //var newOption2 = $('select[name="OrderDate"]').find('option[value="' + date + '"]').attr("selected", true);

                    if (callingName == "orderdate") {
                        getTableValues(1, date, "");
                        $('select[name="ImportDate"]').find('option[value="' + date + '"]').attr("selected", true);
                    }
                    else {
                        getTableValues(1, "", date);
                        $('select[name="ImportDate"]').find('option[value="' + date + '"]').attr("selected", true);
                    }

                    //var newOption = $('#option_' + date);


                    //newOption2.attr('selected', 'selected');
                    //alert(newOption);
                    //alert(date);




                    //alert("You selected OK!!")
                },
                "انصراف": function () {
                    $('#filter_date option[value=""]').prop('selected', true);
                    $('#filter_date option[value=""]').change();
                    //var a = $('#dates > option').eq(0).attr("selected", true);
                    //alert(a.text());
                    $(this).dialog("close");
                    //var a = $('select[name="Date"]').find('option[value=""]');
                    //alert(a.val());

                }

            }
        });
        }

        function getTableValues(page = 1, order_dategiven = "") {
            //alert();
            var searchTerm_importdate = $("#filter_importDate").val();
            var searchTerm_product = $("#productId").val();
            var searchTerm_isAllocatedCompletely = $("#filter_isAllocatedCompleted").val();
            var searchTerm_isSentCompletely = $("#filter_isSentCompleted").val();
            //alert();
            if (order_dategiven != "") {
                searchTerm_importdate = order_dategiven;
            }




            $.ajax({
                type: "POST",
                url: "/storage/ImportedProducts/Filter",
                async: false,
                dataType: "json",
                content: "application/json; charset=utf-8",
                data: { importDate: searchTerm_importdate, productId: searchTerm_product, isAllocatedCompletely: searchTerm_isAllocatedCompletely, isSentCompletely: searchTerm_isSentCompletely, page: page },
                success: function (data) {
                    //alert(data.length);
                    //alert("call back");
                    removeTableContent();
                    //alert(data.length);
                    //alert("recieved");
                    if (data.length > 0) {
                        //alert(data.length);
                        for (var i = 0; i < data.length; i++) {
                           
                                //alert(data[i][j].CustomerName);
                            var importdate = $('<td style="text-align:center;font-size:12px;">' + data[i].Date + '</td>');
                            var product_name = $('<td  style="text-align:center;font-size:14px;" >' + data[i].ProductName + '</td>');
                            var amount_imported = $('<td style="text-align:center">' + (Math.trunc(data[i].AmountImported).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') + '</td>'));
                            var amount_allocated = $('<td style="text-align:center">' + (Math.trunc(data[i].AmountAllocated).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') + '</td>'));
                            var amount_unallocated = $('<td  style="text-align:center">' + (Math.trunc(data[i].AmountUnAllocated).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') + '</td>'));
                                var isAllocatedCompleted;

                                if (data[i].IsAllocatedCompletely) {
                                    //alert(data[i][j].IsSuccessful);
                                    isAllocatedCompleted = $("<td style='color:green;text-align:center;'>بله</td>");
                                } else {
                                    isAllocatedCompleted = $("<td style='color:red;text-align:center;'>خیر</td>");
                                }


                            var amount_sent = $('<td style="text-align:center" >' + (Math.trunc(data[i].AmountSent).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') + '</td>'));

                            var amount_unsent = $('<td style="text-align:center">' + (Math.trunc(data[i].AmountUnSent).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') + '</td>'));


                                var isSentCompletely;
                                if (data[i].IsSentCompletely) {
                                    //alert(data[i][j].IsSuccessful);
                                    isSentCompletely = $('<td style="color:green;text-align:center;">بله</td>');
                                } else {
                                    isSentCompletely = $('<td style="color:red;text-align:center;">خیر</td>');
                                }

                                var row = $("<tr></tr>")
                                    .append(importdate)
                                    .append(product_name).append(amount_imported)
                                    .append(amount_allocated).append(amount_unallocated).append(isAllocatedCompleted)
                                    .append(amount_sent).append(amount_unsent).append(isSentCompletely);


                                var edit = $('<a href="' + '/storage/importedproducts/edit/' + data[i].Id + '">ویرایش</a>');
                            var remove = $('<a href="' + '/storage/importedproducts/delete/' + data[i].Id + '">حذف</a>');
                            var allocate = $('<a href="' + '/storage/allocatedproducts/allocate/?importedproductId=  ' + data[i].Id + '">تخصیص</a>');
                            var operationtd = $('<td style="font-size:9px;"></td>').append(edit).append("|").append(remove).append("|");
                            var alloctd = $('<td style="font-size:12px;"></td>').append(allocate);
                            row.append(operationtd).append(alloctd);



                                $("#inquiries_tbody").append(row);
                            

          

                            //$(`<td>${(Math.trunc(orderItem.pricePerKilo)).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}</td>`).appendTo(row);
                        
                           

                            //$("#recievedcalls_tbody").append(row);

                            insertPagination(data[0].PageNumbers, data[0].Page);
                        }
                    }
                    else {
                        var importDate = $("<td></td>");
                        var product_name = $("<td> </td>");
                        var amount_imported = $("<td></td>");
                        var amount_allocated = $("<td></td>");
                        var amount_unallocated = $("<td>رکوردی یافت نشد</td>");
                        var isAllocatedCompletely = $("<td> </td>");
                        var totalPrice = $("<td> </td>");
                        var isSuccessfull = $("<td> </td>");
                        var row = $("<tr></tr>").append(importDate).append(product_name).append(amount_imported).append(amount_unallocated).append(isAllocatedCompletely).append(totalPrice);
                        $("#inquiries_tbody").append(row);
                    }



                }
            });
        }

        function insertPagination(numberOfPages, currentPageNumber) {
            // alert("number of page:" + numberOfPages);
            //alert("current page number:" + currentPageNumber);
            var div_pagination = $("#div_pagination");
            $("#pagination_page").remove();
            var ul_pagination = $('<ul class="pagination" id="pagination_page"></ul>');

            if (currentPageNumber > 1 && currentPageNumber < numberOfPages) {
                //alert(numberOfPages + " ," + currentPageNumber + "if1");
                var li1 = $("<li  id='previous_page'></li>");
                var a1 = $('<a role="button" onclick="getTableValues(' + (currentPageNumber - 1) + ')">' + "<" + '</a>');
                li1.append(a1);
                //ul.append(li1);


                var li2 = $("<li id='first_page'></li>");
                var a2 = $('<a role="button" onclick="getTableValues(' + 1 + ')">' + "<<" + '</a>');
                li2.append(a2);
                //ul.append(li2);
                //ul.append(li2);

                var li3 = $("<li id='next_page'></li>");
                var a3 = $('<a role="button" onclick="getTableValues(' + (currentPageNumber + 1) + ')">' + ">" + '</a>');
                li3.append(a3);
                //ul.append(li3);


                var li4 = $("<li id='last_page'></li>");
                var a4 = $('<a role="button" onclick="getTableValues(' + numberOfPages + ')">' + ">>" + '</a>');
                li4.append(a4);
                //ul.append(li4);
                //ul.prepend(li4);
                //alert("pagination is being inserted");
                ul_pagination.append(li2);
                ul_pagination.append(li1);
                ul_pagination.append(li3);
                ul_pagination.append(li4);
                //alert("pagination is inserted");
            }
            else if (currentPageNumber == 1 && currentPageNumber < numberOfPages) {
                //alert(numberOfPages + " ," + currentPageNumber + "if1");
                var li1 = $("<li id='previous_page' ></li>");
                var a1 = $('<a role="button" onclick="getTableValues(' + (currentPageNumber - 1) + ')">' + "<" + '</a>');
                li1.append(a1);
                //ul.append(li1);


                var li2 = $("<li disabled='true'  id='first_page' ></li>");
                var a2 = $('<a disabled="true" role="button" onclick="getTableValues(' + 1 + ')">' + "<<" + '</a>');
                li2.append(a2);
                //ul.append(li2);
                //ul.append(li2);

                var li3 = $("<li id='next_page'></li>");
                var a3 = $('<a role="button" onclick="getTableValues(' + (currentPageNumber + 1) + ')">' + ">" + '</a>');
                li3.append(a3);
                //ul.append(li3);


                var li4 = $("<li id='last_page'></li>");
                var a4 = $('<a role="button" onclick="getTableValues(' + numberOfPages + ')">' + ">>" + '</a>');
                li4.append(a4);
                //ul.append(li4);
                //ul.prepend(li4);
                //alert("pagination is being inserted");
                ul_pagination.append(li2);
                ul_pagination.append(li1);
                ul_pagination.append(li3);
                ul_pagination.append(li4);
            }
            else if (currentPageNumber == 1 && numberOfPages == 1) {
                var li1 = $("<li id='previous_page' ></li>");
                var a1 = $('<a role="button" onclick="getTableValues(' + (currentPageNumber) + ')">' + "<" + '</a>');
                li1.append(a1);
                //ul.append(li1);


                var li2 = $("<li disabled='true'  id='first_page' ></li>");
                var a2 = $('<a disabled="true" role="button" onclick="getTableValues(' + currentPageNumber + ')">' + "<<" + '</a>');
                li2.append(a2);
                //ul.append(li2);
                //ul.append(li2);

                var li3 = $("<li id='next_page'></li>");
                var a3 = $('<a role="button" onclick="getTableValues(' + (currentPageNumber) + ')">' + ">" + '</a>');
                li3.append(a3);
                //ul.append(li3);


                var li4 = $("<li id='last_page'></li>");
                var a4 = $('<a role="button" onclick="getTableValues(' + currentPageNumber + ')">' + ">>" + '</a>');
                li4.append(a4);
                //ul.append(li4);
                //ul.prepend(li4);
                //alert("pagination is being inserted");
                ul_pagination.append(li2);
                ul_pagination.append(li1);
                ul_pagination.append(li3);
                ul_pagination.append(li4);
            }
            else {
                //alert(numberOfPages + " ," + currentPageNumber + "if1");
                var li1 = $("<li  id='previous_page'></li>");
                var a1 = $('<a role="button" onclick="getTableValues(' + (currentPageNumber - 1) + ')">' + "<" + '</a>');
                li1.append(a1);
                //ul.append(li1);


                var li2 = $("<li id='first_page'></li>");
                var a2 = $('<a role="button" onclick="getTableValues(' + 1 + ')">' + "<<" + '</a>');
                li2.append(a2);
                //ul.append(li2);
                //ul.append(li2);

                var li3 = $("<li id='next_page'></li>");
                var a3 = $('<a role="button" onclick="getTableValues(' + (numberOfPages) + ')">' + ">" + '</a>');
                li3.append(a3);
                //ul.append(li3);


                var li4 = $("<li id='last_page'></li>");
                var a4 = $('<a role="button" onclick="getTableValues(' + numberOfPages + ')">' + ">>" + '</a>');
                li4.append(a4);
                //ul.append(li4);
                //ul.prepend(li4);
                //alert("pagination is being inserted");
                ul_pagination.append(li2);
                ul_pagination.append(li1);
                ul_pagination.append(li3);
                ul_pagination.append(li4);
                //ul.append(li2);
                //ul.append(li2);
                //ul.prepend(li2);

                //div_pagination.append(pagination_ul);
            }
            //alert("appended");
            div_pagination.append(ul_pagination);
        }

        function removeTableContent() {

            $("#inquiries_tbody").empty();
            //alert();
            //alert("table rows removed");
        }

        function setDay(input) {
            dayInput = input;
            // alert(dayInput);
        }

        function setMonth(input) {
            monthInput = input;
        }

        function setYear(input) {
            //alert(input);
            yearInput = input;
        }
    </script>
