@model Neshagostar.DAL.DataModel.StorageRelated.OrdersRelated.SendingAllocated

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SendingAllocated</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AllocatedProduct.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllocatedProduct.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountSent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountSent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
